<tr>
  <td><%= id + 1 %></td>
  <td><%= link_to book.title, book %></td>
  <td><%= book.author %></td>
  <td><%= book.grade %></td>
  <td><%= link_to 'Borrow', borrow_new_book_path(book.id), class: 'btn btn-default'  %></td>
  <td><%= link_to edit_book_path(book), title: 'edit', class: 'btn btn-default' do %>
        <%= fa_icon 'edit' %>
      <% end %>
      <%= link_to book, method: :delete, title: 'delete', class: 'btn btn-default' do %>
        <%= fa_icon 'times' %>
      <% end %>
  </td>
</tr>
